.pagination-container {
    display: flex;
    list-style-type: none;
    justify-content: center;

    .pagination-item {
        height: 32px;
        width: 32px;
        text-align: center;
        margin: auto 4px;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        box-sizing: border-box;
        align-items: center;
        letter-spacing: 0.01071em;
        line-height: 1.43;
        font-size: 13px;
        min-width: 32px;
        cursor: pointer;

        &.dots:hover {
            background-color: transparent;
            cursor: default;
        }
            
        &:hover .pagination-btn {
            opacity: 0.6;   
        }

        &.selected:hover {
            opacity: 1;
        }

        .prev-btn{
            background-color: #ffffe0;

            span:first-child{
                width: 0;
            }
        }

        .next-btn{
            background-color: #ffffe0;

            span:last-child{
                width: 100%;
                margin-left: 0;
            }
        }

        .pagination-btn,
        .prev-btn,
        .next-btn{
            width: 100%;
            height: 100%;
            font-weight: 500;
            border: none;
            cursor: pointer;
            border-radius: 4px;

            &.actived{
                background-color: #f92e2c;
                color: white;
                cursor: default;
                opacity: 1;
            }
        }

         .prev-btn,
        .next-btn{
            background-color: white;
        }

        .arrow {
            &::before {
                position: relative;
                /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
                content: '';
                /* By using an em scale, the arrows will size with the font */
                display: inline-block;
                width: 0.4em;
                height: 0.4em;
                border-right: 0.12em solid rgba(0, 0, 0, 0.87);
                border-top: 0.12em solid rgba(0, 0, 0, 0.87);
            }

            &.left {
                transform: rotate(-135deg) translate(-50%);
            }

            &.right {
                transform: rotate(45deg);
            }
            }

            &:hover{
                opacity: 0.6;
            }

            &.disabled {
                pointer-events: none;

                .arrow::before {
                    border-right: 0.12em solid rgba(0, 0, 0, 0.43);
                    border-top: 0.12em solid rgba(0, 0, 0, 0.43);
                }

                &:hover {
                    background-color: transparent;
                    cursor: default;
                }
        }
    }
}
