@import "~bootstrap/scss/bootstrap";

.container {
    padding: 0;
}

.navbar{
    padding: 8px 16px;
    background-color: #cc5c5c;
    border-radius:4px;

    .nav-item{
        cursor: pointer;
        &:hover{
            opacity: 0.6;
        }

        &.active{
            background-color: rgba(255,255,255,0.1);
        }

        .nav-link{
            padding: 8px;        
            color: white;
        }
    } 
}

.product-link{
    text-decoration: none;
    transition: transform .1s ease-in-out;

    &:hover{
        transform: translateY(-20px);

        .card{
            border: 2px solid #cc5c5c;
        }
    }

    &.admin{
        &:hover{
            transform: unset;
            transition: unset;
        }
    }
}

#search-form{
    border: none;

    
    input{
        background-color:transparent;
        color: white;
        border: none;
        outline: none;
        border-bottom: 1px solid white;
        border-radius: unset;
        padding-left: 0;

        &::placeholder{
            color: white;
        }

        &:focus{
            box-shadow: unset;
        }
    }
}

#search-form{
    &.admin{
        input{
            &::placeholder{
                color: #cc5c5c;
            }
        }
    }
}

.add-btn{
    padding: 8px 16px;
    text-decoration: none;
}

.delete-btn,
.edit-btn{
    min-width: 120px;
}

.price-text,
.name-text{
    color: #333;
}

.category-text{
    color: #cc5c5c;
    font-weight: 500;
}

.name-text{
    font-weight: 500;
}