.menu-item{
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
    color: #333;
    transition: background-color ease-in-out 200ms;
    text-decoration: none;
    &:hover{
        background-color: rgba(22,24,35,0.03);
        color: #CD5C5C;
    }

    &.active{
        color: #CD5C5C;
    }

    .icon{
        min-width: 24px;
        text-align: center;
    }

}

.title{
    margin-left: 10px;
}
